!!! transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    style(type = 'text/css')
      h1 {
        color: #fe57a1
      }
  body
    h1.h1 Heading 1
    h2= testVariable
    h2 #{testFunction()}
    p
      strong Lorem ipsum dolor: 
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      br
      |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    h2.h2 Heading 2
    h3.h3 Heading 3
    h4.h4 Heading 4
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    p Test List:
    ol
      li Test List Item 1
      li Test List Item 2
      li Test List Item 3
      li Test List Item 4