!!! 5
html
  head
    title= title
    block stylesheets
      link(rel = 'stylesheet', href = '/css/style.css')
      link(rel = 'stylesheet', href = '/css/bootstrap.min.css')
      link(rel = 'stylesheet', href = '/css/bootstrap-responsive.min.css') 
  body
    .container-fluid
      
      .main.row-fluid
        .span3
          ul.well.nav.nav-list
            li
              a(href = '/') Home
            li
              a(href = '/render-mail') Render Mail
            li
              a(href = '/send-mail-via-app') Send Mail Via App
            li
              a(href = '/send-mail-via-res') Send Mail Via Response
            li
              a(href = '/send-mail-with-update') Send Mail With Update
            
        .span9
          h1.page-header= title
          block content
    block javascripts
      script(src = '/js/jquery-1.8.0.min.js')
      script(src = '/js/bootstrap.min.js')